@define-color selected-text #AA85E0; /* Text on selected item */
@define-color text          #F8F8F2; /* Normal text */
@define-color base          #282A36; /* Base background */
@define-color border        #BD93F9; /* Dracula purple */
@define-color foreground    #F8F8F2; /* Foreground text */
@define-color background    #282A36; /* Background */
