@define-color foreground-muted  #6272A4; /* Comment */
@define-color accent-strong     #FF79C6; /* Pink */
@define-color background        #100D0E;
@define-color success           #50FA7B; /* Green */
@define-color warning           #F1FA8C; /* Yellow */
@define-color error             #FF5555; /* Red */
@define-color info              #8BE9FD; /* Cyan */
